<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Manage Upwork Accounts</title>
	<meta name="description"
		content="This is a Flask (Python microframework) use Datatables.js Ajax source application.">
	<meta name="author" content="rosickey">
	<link rel="stylesheet"
		href="{{ url_for('static', filename='css/cdn.datatables.net_1.13.4_css_jquery.dataTables.min.css') }}">
	<link rel="stylesheet"
		href="{{ url_for('static', filename='css/cdnjs.cloudflare.com_ajax_libs_twitter-bootstrap_5.2.0_css_bootstrap.min.css') }}">
	<link rel="stylesheet"
		href="{{ url_for('static', filename='css/cdn.datatables.net_1.13.4_css_dataTables.bootstrap5.min.css') }}">

	<script src="{{ url_for('static', filename='js/code.jquery.com_jquery-3.5.1.js') }}"></script>
	<script
		src="{{ url_for('static', filename='js/cdn.datatables.net_1.13.4_js_dataTables.bootstrap5.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/cdn.datatables.net_1.13.4_js_jquery.dataTables.min.js') }}"></script>

	<style type="text/css">
		tr {
			cursor: pointer;
		}
	</style>

</head>

<script>
	let table;
	$(document).ready(function () {
		table = $('#example').DataTable({
			ajax: "{{ url_for('get_server_data') }}",
		});

		// Add event listener for checkbox select all
		$('#select_all').on('click', function (e) {
			e.preventDefault();
			$('input[name="id"]').prop('checked', this.checked);
		});
	});
</script>

<body>
	<div class="container">
		<div class="d-flex justify-content-end" style="margin: 20px 0;gap: 10px;">
			<div class="d-flex" style="gap: 10px">
				<input type="text" class="form-control" placeholder="Enter name" name="cname" id="cname">
				<input type="number" class="form-control" placeholder="Enter number" name="cnum" id="cnum">
				<button id="create" type="button" class="btn btn-info">CREATE</button>
			</div>
			<button id="remove" type="button" class="btn btn-danger">REMOVE</button>
			<button id="screenshot" type="button" class="btn btn-warning">SCREENSHOT</button>
			<button id="opentosee" type="button" class="btn btn-dark">OPEN TO SEE</button>
		</div>
		<table id="example" class="table table-striped table-hover" style="width:100%">
			<thead>
				<tr>
					{% for col in columns %}
					<th>{{ col }}</th>
					{% endfor %}
					<th></th> <!-- Add a header cell -->
					<th></th> <!-- Add checkbox header cell -->
				</tr>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					{% for col in row %}
					<td>{{ col }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="row" style="margin: 20px 0;">
			<div class="col">
				<input type="text" class="form-control" placeholder="Enter name" name="name" id="name">
			</div>
			<div class="col">
				<input type="text" class="form-control" placeholder="Enter URL" name="url" id="url">
			</div>
			<div class="col">
				<button id="open" type="button" class="btn btn-success">OPEN</button>
			</div>
			<div class="col d-flex justify-content-end" style="gap: 20px;">
				<input type="text" class="form-control" placeholder="Enter Status" name="status" id="status" value="sent">
				<button id="change" type="button" class="btn btn-primary">Change</button>
			</div>
		</div>
	</div>

	<script>
		$('#create').on('click', () => {
			const name = $('#cname').val();
			const num = $('#cnum').val();
			if (name && num) {
				$.ajax({
					type: 'POST',
					url: '/create',
					data: { name: name, num: num },
					success: function (response) {
						alert(response);
						table.ajax.reload();
					},
					error: function (xhr, status, error) {
						console.error(error);
					}
				});
			}
		})

		$('#remove').on('click', () => {
			const ids = [];
			$('input[name="id"]').each(function () {
				if ($(this).prop('checked')) ids.push($(this).attr('value'));
			})
			if (ids) {
				if (confirm('You selected items ' + ids + "\nDo you really want to remove them?")) {
					$.ajax({
						type: 'POST',
						url: '/remove',
						contentType: 'application/json',
						data: JSON.stringify({ ids: ids }),
						success: function (response) {
							alert(response);
							table.ajax.reload();
						},
						error: function (xhr, status, error) {
							console.error(error);
						}
					});
				}
			}
		})

		$('#open').on('click', () => {
			const name = $('#name').val();
			const url = $('#url').val();
			if (name && url) {
				$.ajax({
					type: 'POST',
					url: '/open',
					contentType: 'application/json',
					data: JSON.stringify({ name: name, url: url }),
					success: function (response) {
						alert(response);;
						table.ajax.reload();
					},
					error: function (xhr, status, error) {
						console.error(error);
					}
				});
			}
		})


		$('#change').on('click', () => {
			const ids = [];
			$('input[name="id"]').each(function () {
				if ($(this).prop('checked')) ids.push($(this).attr('value'));
			})
			const status = $('#status').val();
			if (ids && status) {
				if (confirm('You selected items ' + ids + "\nDo you really want to change status of them?")) {
					$.ajax({
						type: 'POST',
						url: '/change-status',
						contentType: 'application/json',
						data: JSON.stringify({ status: status, ids: ids }),
						success: function (response) {
							alert(response);
							table.ajax.reload();
						},
						error: function (xhr, status, error) {
							console.error(error);
						}
					});
				}
			}
		})

		$('#opentosee').on('click', () => {
			const ids = [];
			$('input[name="id"]').each(function () {
				if ($(this).prop('checked')) ids.push($(this).attr('value'));
			})
			if (ids) {
				$.ajax({
					type: 'POST',
					url: '/open-to-see',
					contentType: 'application/json',
					data: JSON.stringify({ id: ids[0] }),
					success: function (response) {
						alert(response);
					},
					error: function (xhr, status, error) {
						console.error(error);
					}
				});
			}
		})

		$('#screenshot').on('click', () => {
			window.open("/show-screenshots", "_blank");
			const ids = [];
			$('input[name="id"]').each(function () {
				if ($(this).prop('checked')) ids.push($(this).attr('value'));
			})
			if (ids) {
				$.ajax({
					type: 'POST',
					url: '/screenshot',
					contentType: 'application/json',
					data: JSON.stringify({ ids: ids }),
					success: function (response) {
						alert(response);
					},
					error: function (xhr, status, error) {
						console.error(error);
					}
				});
			}
		})

		$(document).on('click', 'td', function () {
			if ($(this)[0].lastChild.tagName != 'INPUT') $(this)[0].parentElement.children.item(6).firstChild.click();
		})

		function copyToClipboard(element) {
			const text = element.parentElement.parentElement.children.item(1).firstChild.textContent;


	      	// Create a temporary textarea element
	      	const textarea = document.createElement('textarea');
	      	textarea.value = text;

	      	// Append the textarea to the DOM
	      	document.body.appendChild(textarea);

	      	// Select the textarea's content
	      	textarea.select();

	      	try {
	        	// Execute the copy command
	        	const success = document.execCommand('copy');
	        	if (success) {
	          		console.log('Text copied to clipboard');
	        	} else {
	          		console.error('Unable to copy text to clipboard');
	        	}
	      	} catch (error) {
	        	console.error('Failed to copy text: ', error);
	      	}

		      // Remove the textarea from the DOM
		      document.body.removeChild(textarea);
	    }

	</script>
</body>

</html>